[Unit]
Description=Atlas Firecracker VM %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/rm -f /var/lib/atlas/run/%i.sock
ExecStartPost=/var/lib/atlas/bin/vm-network-up.sh %i
ExecStart=/usr/local/bin/firecracker \
    --api-sock /var/lib/atlas/run/%i.sock \
    --config-file /var/lib/atlas/virtual-machines/%i/firecracker.json
ExecStopPost=/var/lib/atlas/bin/vm-network-down.sh %i
StandardOutput=append:/var/lib/atlas/virtual-machines/%i/log/firecracker.log
StandardError=append:/var/lib/atlas/virtual-machines/%i/log/firecracker.log
Restart=always
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target
